<header class="app-navbar">
    <div class="app-navbar-inner">
        <a class="brand" href="">
            <img src="images/dna-magnifier.svg" alt="BIP06 logo" />
            <span>
                <strong>EpidemiX</strong>
                <small>Biomedical Data Management</small>
            </span>
        </a>

        <button class="nav-toggle" type="button" title="Navigation menu" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="@NavMenuCssClass">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Анализи
            </NavLink>
            <NavLink class="nav-link" href="import">
                Импорт на данни
            </NavLink>
            <NavLink class="nav-link" href="data">
                Преглед на данни
            </NavLink>
        </nav>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "app-nav collapsed" : "app-nav";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
